# Binaries
*.exe
*.out
*.o
*.a
*.so
*.log

# Vendor dependencies (if using Go Modules)
vendor/

# IDE & editor files
.vscode/
.idea/
.DS_Store

# Go build cache & package object files
/go/
*.mod
*.sum

# Other folder
/other/

# Ignore pathfinding strategies paper
/Pathfinding Strategies Paper.pdf
